<div class="row">
<div class="panel panel-default">
  <div class="panel-heading">
  Watchlist
  </div>
  <div class="panel-body">
    <%= form_for(:watchlist, url: watchlists_path, html: { role: "form" }) do |f| %>
      <%= f.autocomplete_field :alliance, autocomplete_alliance_cache_name_watchlists_path,:"data-autocomplete-label" => "Sorry, nothing found." %>
    <% end %>

    <hr />

    <div id="watchlist_alliance_results">

    </div>
  </div>
</div>
</div>

<%= javascript_tag do %>
  $('#watchlist_alliance').bind('railsAutocomplete.select', function(event, data){
  /* Do something here */
  $( "#watchlist_alliance_results" ).load( "/watchlists/alliance/?alliance_id=" +data.item.id,null, function() {
    jQuery("abbr.timeago").timeago();
  });
});
<% end %>