<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= 'Edit' %></h4>
  </div>
  <div class="panel-body">
  <%= form_for(@fleet_position_rule, url: admin_fleet_position_rule_path, html: { role: "form" }) do |f| %>
    <%= render 'admin/fleet_position_rules/form', :f => f %>
  <% end %> 
  </div>
</div>
