<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= t('.fleet', :default => "Joining Fleet") %></h4>
  </div>
  <div class="panel-body">
  Your position has been recorded
  </div>
</div>