<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @special_roles.each do |s| %>
    <tr>
      <td><%= s.char_name %></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>