<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @special_roles.each do |s| %>
    <tr>
      <td><%= s.char_name %></td>
      <td><%= link_to '', remove_role_fleets_path({:fleet_position => {:character_id => s.character_id,:special_role => s.special_role}}), {:method => :delete, :remote => true, 'data-target' => "\##{s.special_role.downcase.gsub(/(\W|\d)/, '')}-list", :class => 'glyphicon glyphicon-trash'} if @fleet.open? %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% if @special_roles.size == 0 %>
You must hit the enter key to add a user to this role.
<% end %>