<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= 'Recover Password by Email' %></h4>
  </div>
  <div class="panel-body">
    <%= bootstrap_form_for(User.new, url: recover_password_users_path, html: { role: "form" }) do |f| %>
        <%= f.text_field :email, autofocus: true, class: "form-control" %>
      <hr />
      <%= f.submit 'Recover', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
