<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= 'New API Key' %></h4>
  </div>
  <div class="panel-body">
  <a href="https://community.eveonline.com/support/api-key/CreatePredefined?accessMask=58769408" target="_blank" class="btn">Access Mask Link</a>
  <%= bootstrap_form_for(@api_key, url: api_keys_path, html: { role: "form" }) do |f| %>
    <%= render 'api_keys/form', :f => f %>
  <% end %>
  </div>
</div>
