<li>
  <a href="/travel/">Travel</a>
</li>
<li>
  <!-- <a href="/signatures/">Signatures</a> -->
  <a href="http://igb.eve-razor.com">Signatures</a>
</li>
<li>
  <a href="/watchlists/">Watchlist</a>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fleets <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="/fleets/">Open Fleets</a></li>
    <% if current_user and current_user.can_make_paps? %>
      <li><a href="/fleets/">Create Fleet</a></li>
      <li><a href="/fleets/ping_helper">Ping Helper</a></li>
    <% end %>
    <% if current_user %>
      <li role="separator" class="divider"></li>
      <li><a href="/fleets/rewards">Rewards</a></li>
      <% if current_user and current_user.fleet_commander? %>
      <li><a href="/fleets/fc_rewards">FC Rewards</a></li>
      <% end %>
    <% end %>
  </ul>
</li>
<% if current_user and (current_user.troika? or current_user.military_advisor? or current_user.scout_commander? or current_user.admin?) %>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <% if current_user.admin? or current_user.troika? or current_user.military_advisor? %>
    <li><a href="/admin/users">Users</a></li>
    <li><a href="/admin/jump_bridges">Jump Bridges</a></li>
    <% end %>
    <% if current_user.admin? or current_user.troika? %>
    <li><a href="/admin/fleet_position_rules">Fleet Rules</a></li>
    <% end %>
    <% if current_user.admin? or current_user.troika? or current_user.military_advisor? or current_user.scout_commander? %>
    <li><a href="/admin/watchlists">Watchlist</a></li>
    <% end %>
    <% if current_user.admin? %>
    <li role="separator" class="divider"></li>
    <li><a href="/admin/resque_web">Resque</a></li>
    <% end %>
  </ul>
</li>
<% end %>